<header>
    <div class="container">
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/cv">CV</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li class="dropdown">
                    <a href="{{ site.baseurl }}/blog/index">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/blog/tech">Tech Blogs</a></li>
                        <li><a href="{{ site.baseurl }}/blog/personal">Personal Blogs</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><button id="theme-toggle">🌙</button></li>
            </ul>
        </nav>
    </div>
</header>
