---
layout: default
---

<article class="blog-post">
    <h1>{{ page.title }}</h1>
    <p class="post-meta">Published on {{ page.date | date_to_string }} | Categories: {{ page.categories | join: ", " }}</p>

    <div class="post-content">
        {{ content }}
    </div>

    <hr>

    <div class="post-navigation">
        {% assign category = page.categories[0] %}
        {% assign posts_in_category = site.posts | where_exp: "post", "post.categories contains category" %}

        {% for post in posts_in_category %}
            {% if post.date > page.date %}
                {% assign next_post = post %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% for post in posts_in_category reversed %}
            {% if post.date < page.date %}
                {% assign prev_post = post %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% if prev_post %}
            <a class="prev-post" href="{{ prev_post.url }}">&larr; Previous: {{ prev_post.title }}</a>
        {% endif %}
        
        {% if next_post %}
            <a class="next-post" href="{{ next_post.url }}">Next: {{ next_post.title }} &rarr;</a>
        {% endif %}
    </div>
</article>
